.img,
.descriptionText {
  display: block;
  text-align: initial;
  max-width: 1000px;
  max-height: 800px;
  margin: 0 auto;
 
}
.imgWrapper{
  padding-top: 100px;
}
.container{
  margin: 0 auto;
  max-width: 1100px;
  max-height: 1200px;
  padding: 5px;
  background-color: rgb(240, 234, 234);
}
.constructorCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: space-around; 
}

